brotli==1.2.0
Cartopy==0.22.0
cffi==2.0.0
chardet==5.2.0
contourpy==1.2.0
cssselect2==0.9.0
cycler==0.12.1
flake8==7.3.0
fonttools==4.50.0
Husky==0.1.7
influxdb-client==1.50.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.4.5
lxml==5.2.0
MarkupSafe==3.0.2
matplotlib==3.8.3
numpy==1.26.4
packaging==24.0
pandas==2.2.1
pillow==10.2.0
polars==1.33.1
pycparser==3.0
pydyf==0.12.1
pylint==3.3.8
pymongo==4.17.0
pyparsing==3.1.2
pyphen==0.17.2
pyproj==3.6.1
pyshp==2.3.1
python-dateutil==2.9.0.post0
pytz==2026.3
PyYAML==6.0.3
reportlab==4.1.0
requests==2.34.2
shapely==2.0.3
svglib==1.5.1
tinycss2==1.5.1
tinyhtml5==2.1.0
tzdata==2024.1
urllib3==2.7.0
vncdotool==0.12
weasyprint==66.0
webencodings==0.5.1
websockets==15.0.1
zopfli==0.4.1
