Cartopy==0.22.0
chardet==5.2.0
contourpy==1.2.0
cssselect2==0.7.0
cycler==0.12.1
fonttools==4.50.0
kiwisolver==1.4.5
lxml==5.2.0
matplotlib==3.8.3
numpy==1.26.4
packaging==24.0
pandas==2.2.1
pillow==10.2.0
pyparsing==3.1.2
pyproj==3.6.1
pyshp==2.3.1
reportlab==4.1.0
shapely==2.0.3
svglib==1.5.1
tinycss2==1.2.1
tzdata==2024.1
vncdotool=0.12
webencodings==0.5.1

