// The sender address for all emails
const senderAddress = process.env.SEALOG_EMAIL_SENDER_ADDRESS;

// Additional receipents for and sent emails.
const notificationEmailAddresses = (process.env.SEALOG_EMAIL_NOTIFICATION_ADDRESSES || '')
  .split(',')
  .map((address) => address.trim())
  .filter(Boolean);

// Needed for email integration
let emailTransporter = null; //eslint-disable-line prefer-const
const Nodemailer = require('nodemailer'); // eslint-disable-line no-unused-vars

// ========================================================================= //
// Uncomment ONE of the following sections for email integration
// ========================================================================= //

// ------------------------------------------------------------------------- //
// Gmail OAuth2 integration
// https://nodemailer.com/smtp/oauth2
// ------------------------------------------------------------------------- //
const gmailClientId = process.env.GMAIL_CLIENT_ID;
const gmailClientSecret = process.env.GMAIL_CLIENT_SECRET;
const gmailRefreshToken = process.env.GMAIL_REFRESH_TOKEN;

if (gmailClientId && gmailClientSecret && gmailRefreshToken) {
  // Nodemailer obtains and refreshes access tokens as needed.
  emailTransporter = Nodemailer.createTransport({
    service: 'gmail',
    auth: {
      type: 'OAuth2',
      user: senderAddress,
      clientId: gmailClientId,
      clientSecret: gmailClientSecret,
      refreshToken: gmailRefreshToken
    }
  }); // eslint-disable-line no-dupe-keys
}

// ------------------------------------------------------------------------- //
// Mailgun integration
// ------------------------------------------------------------------------- //
// const Mg = require('nodemailer-mailgun-transport'); // eslint-disable-line no-unused-vars
// emailTransporter = Nodemailer.createTransport(Mg({
//   auth: {
//     api_key: process.env.MG_APIKEY || '<MG_API_KEY>',
//     domain: process.env.MG_DOMAIN || '<ONE OF THE DOMAIN NAMES LISTED AT https://app.mailgun.com/app/sending/domains>'
//   }
// })); // eslint-disable-line no-dupe-keys


// ------------------------------------------------------------------------- //
// Mailjet integration
// ------------------------------------------------------------------------- //
// const Mj = require('../lib/nodemailer-mailjet-transport'); // eslint-disable-line no-unused-vars
// emailTransporter = Nodemailer.createTransport(Mj({
//   auth: {
//     apiKey: process.env.MJ_APIKEY_PUBLIC || '<MJ_APIKEY>',
//     apiSecret: process.env.MJ_APIKEY_PRIVATE || '<MJ_API_SECRET>'
//   }
// })); // eslint-disable-line no-dupe-keys

module.exports = {
  senderAddress,
  emailTransporter,
  notificationEmailAddresses
};
